<!doctype html>
<html>
<head>
<title>MakersBnb</title>
<div style = 'text-align:right'>
<a href="/" style = 'margin-right:10px'>
  Spaces
</a>

<a href="/" style = 'margin-right:10px'>
  Requests
  </a>

<a href="/" >
  Sign Out
</a>

</div>
</head>
<body>

<h2 style = 'text-align:center'>BOOK A SPACE</h2>

<div style = 'text-align:center'>
<a href="/new_space">List a Space</a>
</div>

<form method = 'POST' action = '/'> 

<div style = 'text-align:center;'>
<div style = 'width:50%;float:left;'>
<p><label for="Available_from">Available from (DD/MM/YY)</label></p>
<input type="date" id="Available_from" name="date_from" >
</div>
<div style = 'width:50%;float:left;'>
<p><label for="Available_to">Available to (DD/MM/YY)</label></p>
<input type="date" id="Available_to" name="date_to">
</div>
</div>

<div style = 'text-align:center;'>
<input type = 'submit' value = 'list spaces'>
</div>
</form>

<div>
        <% @description.each do |space| %>
            <a href="/spaces/<%=@id[@description.find_index(space)]%>>
            <h3>
            <%=@name[@description.find_index(space)]%>
            </h3>
            <h4>
            <%=space%>
            </h4>
            </a>
            <%end%>
</div>

</body>
</html>