<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | MakersBnB</title>
    <link href="/login_page_style.css" rel="stylesheet"/>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
  <div class="Wrapper">
    <div class="Header">
        <div class="Logo">
        LOGO
        </div>
        <div class="Links">
        <a href="/about"> About </a>
        <a href="/signup"> Sign Up </a>
        </div>
    </div>

    <h1>Log in to MakersBnB</h1>
    <div class="Login-Wrapper">
    <div class="Login-Content">
    <form actions="/login" method="POST">
      <h2> Email Address </h2>
      <input type="text" name="email">

      <h2> Password </h2>
      <input type="password" name="password">
      <div class="Login-Button">

    <input type="submit" value="Log in">
    </div>
    </form>
    </div>


    </div>
  </div>
  </body>
</html>