<!doctype html>

<html>

<head>
    
    <title>MakersBnb</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
    <link href="/style.css" rel="stylesheet"/>

    </head>

<body>
    <div class="nav-bar">
        <nav>
            <a href="/about"> About </a>
            <a href="/signup"> Sign Up </a>
        </nav>
    </div>


    <div class="new-space-header">
        <h1>List a Space</h1>
        <p> Complete the form below, to list your space! </p>
    </div>

    <div class="new-space-form">
        <form method='POST' action='/new_space'>
            <p><label for="fname">Name</label></p>
            <input type="text" id="fname" name="fname">
            <br><br>

            <p><label for="description">Description</label></p>
            <textarea id="new_space_description" name="description" rows="10" cols="50"></textarea>
            <br>

            <p><label for="price_per_night">Price per night (£)</label></p>
            <input type="text" id="price_per_night" name="price_per_night" value="£">
            <br><br>

            <p><label for="Available_from">Available from (DD/MM/YY)</label></p>
            <input type="date" id="Available_from" name="date_from" >
            <br><br>

            <p><label for="Available_to">Available to (DD/MM/YY)</label></p>
            <input type="date" id="Available_to" name="date_to">
            <br><br>

            <div class="list-my-space-bttn">
                <input type="submit" value="List My Space">
            </div>
        </form>
    </div>




</body>

</html>