<!doctype html>

<html>

<head>
    
    <title>MakersBnb</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
    <link href="/style.css" rel="stylesheet"/>

    </head>

<body>
    <div class="new_space_header">
        <h1>List a Space</h1>
        <p> orem Ipsum is simply dummy text of the ons of Lorem Ipsum. </p>
    </div>

    <div>
        <form method='POST' action='/new_space'>
            <p><label for="fname">Name</label></p>
            <input type="text" id="fname" name="fname">
            <br><br>

            <p><label for="description">Description</label></p>
            <textarea id="new_space_description" name="description" rows="10" cols="50"></textarea>
            <br>

            <p><label for="Price_per_night">Price per night (£)</label></p>
            <input type="text" id="Price_per_night" name="price_per_night" value="£">
            <br><br>

            <p><label for="Available_from">Available from (DD/MM/YY)</label></p>
            <input type="date" id="Available_from" name="date_from" >
            <br><br>

            <p><label for="Available_to">Available to (DD/MM/YY)</label></p>
            <input type="date" id="Available_to" name="date_to">
            <br><br>

            <input type="submit" value="List My Space">
        </form>
    </div>



    

</body>

</html>