<html>
  <title>Signup to MakersBnB</title>
   <head>

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MakersBnB</title>
    <link href="/signup_style.css" rel="stylesheet"/>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
      
   </head>
  <body>
  <div>
    <div class="Header">
      <div class="Logo">
        <a href="/">
        LOGO
        </a>
      </div>
      <div class="Links">

        <a href="/"> About </a>
          <a href="/login"> Login </a>
        
      </div>
    </div>
  </div>
      <h1 style = "text-align: center;">
      Feet at home, anywhere
      </h1>
    <h2 style = "text-align: center;">
    Sign up to MakersBnB
    </h2>
    <div style="border: red 2px solid; margin: auto; width: 35%; text-align: center; border: 1 black; background-color: red;  margin-bottom:1%;">

    <% @errors.each do |message| %>
      <p><%=message %> </p>

      <% end %>

    </div>
   <form method = "POST" action = "/signup" style="margin: auto; width: 35%; text-align: center; border: 1 black; background-color: gray;">
   <div>
     <label>Please enter your email</label>
     <input type = "text" value="<%=@emails%>" name="email"/> 
   </div>
   <div>
     <label>Please enter your password</label>
     <input type = "password" name = "password_1" />
   </div>
   <div>
     <label>Please verify your password</label>
     <input type = "password" name = "password_2" />
   </div>
   <div>
     <input type = "submit" value = "Submit"/>
   </div>
   <div>
     <p>
       <%= @display %>
     </p>
   </div>
  </form>
  </body>
</html>