<html>
  <title>Signup to MakersBnB</title>
   <head>
      <div>
        <a href="/login">
          Login
        </a>
      </div>
      <h1 style = "text-align: center;">
      Feel at home, anywhere
      </h1>
   </head>
  <body>
    <h2 style = "text-align: center;">
    Sign up to MakersBnB
    </h2>
    <div style="border: red 2px solid; margin: auto; width: 35%; text-align: center; border: 1 black; background-color: red;  margin-bottom:1%;">

    <% @errors.each do |message| %>
      <p><%=message %> </p>

      <% end %>

    </div>
   <form method = "POST" action = "/signup" style="margin: auto; width: 35%; text-align: center; border: 1 black; background-color: gray;">
   <div>
     <label>Please enter your email</label>
     <input type = "text" value="<%=@emails%>" name="email"/> 
   </div>
   <div>
     <label>Please enter your password</label>
     <input type = "password" name = "password_1" />
   </div>
   <div>
     <label>Please verify your password</label>
     <input type = "password" name = "password_2" />
   </div>
   <div>
     <input type = "submit" value = "Submit"/>
   </div>
   <div>
     <p>
       <%= @display %>
     </p>
   </div>
  </form>
  </body>
</html>